@charset="UTF-8";
body{
    background-color:rgb(0, 0, 0);
    color: rgba(14, 9, 9, 0.836);
    


}
h1{
    color: white;
}




h2{
    color: rgb(0, 0, 0);
    
    
}

nav#atividades ul{
    list-style: none;
    position: absolute;
    top: 2px;
	left:200px;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    padding: 1px 1px 1px 1px;
}
nav#atividades li{
	color: black;
    text-decoration: none;
    display: inline-block;
    padding: 1px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    
}


nav#atividades li:hover{
    text-decoration: underline;

}


div#interface{
    position: absolute;
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 10px 150px;
    padding: 10px 10px 10px 10px;
    color:rgb(0, 0, 0);

    }

div#interface a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 70pt;
    padding-left: 10px;


}
div#interface a:hover{
    
    text-decoration: underline;
    color:black;
}

header#cabecalho {
    border-bottom: 1px white solid;
    height: 256px;
   /* background: url("../_images/playstation.png") no-repeat; */
    


}
    /*style="color:black;text-decoration: none;" */
