@charset="UTF-8";
@font-face {
    font-family: "logo";
    src: url("../_fonts/Iceland-Regular.ttf")
}

body{
    background-color:rgb(0, 0, 0);
    color: rgba(14, 9, 9, 0.836);
    


}

h2{
    color: rgb(0, 0, 0);
    
    
}

nav#atividades ul{
    list-style: none;
    position: absolute;
    top: 289px;
	left:158px;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    padding: 1px 1px 1px 1px;
}
nav#atividades h2{
    font-family: "logo";
}

nav#atividades li{
	color: black;
    
    display: inline-block;
    padding: 1px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    
}
nav#atividades a{
    text-decoration: none;
    color: black;
}


nav#atividades li:hover{
    text-decoration: underline;

}


div#interface{
    position: absolute;
    width: 965px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 10px 150px;
    padding: 10px 10px 10px 10px;
    color:rgb(0, 0, 0);

    }

div#interface a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 70pt;
    padding-left: 10px;
    margin-bottom: 0px;


}
div#interface a:hover{
    
    text-decoration: underline;
    color:black;
}
div#interface h1{
    margin-bottom: 0px;
    
    font-size: medium;
    padding: 0px;
    margin-top:0px;
}
div#interface h2{
    margin-top: 0px;
    padding: 0px;
}

header#cabecalho {
    border-bottom: 1px white solid;
    height: 256px;
   /* background: url("../_images/playstation.png") no-repeat; */

    /*style="color:black;text-decoration: none;" */}
header#cabecalho h1{
    font-family: 'logo';
}